<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="cnOnpe" connectionString="Data Source=.;Initial Catalog=Onpe;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="cnPlanillas" connectionString="Data Source=.;Initial Catalog=Planillas;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="cnPlanillasSQL" connectionString="Data Source=.;Initial Catalog=Planillas;Persist Security Info=True;User ID=sa;Password=sa." providerName="System.Data.SqlClient" />
		<!--<add name="appPlanillas_202320.Properties.Settings.Planillas" connectionString="Data Source=.;Initial Catalog=Planilla;Integrated Security=True" providerName="System.Data.SqlClient" />-->
 </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>